{% extends "base.html" %}
{%load crispy_forms_tags %}



{% block title %}
TODO FBV | Signup
{% endblock title %}



{% block content %}
<section id="signup" class="signup mt-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 m-3 shadow p-3">
                <h3>Password Change Form</h3>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {{ form|crispy }}
                    
                    <div class="d-grid gap-2 mt-4 mb-2">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}