{% extends "base.html" %}

{% block content %}
<section id="list-todo" class="list-todo mt-5">
  <div class="container my-5 py-5">
    <h2>List of todo items</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
          <th scope="col">Short Description</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <td>{{ todo.title }}</td>
          <td>{{ todo.priority }}</td>
          <td>{{ todo.status }}</td>
          <td>{{ todo.short_description }}</td>
          <td>{{ todo.created_at }}</td>
          <td>{{ todo.updated_at }}</td>
          <td>
            <a href="{% url 'todo-update' todo.id %}" class="btn"><i class="fa-solid fa-pen-to-square text-info"></i></a>
            <a href="{% url 'todo-delete' todo.id %}" class="btn"><i class="fa-solid fa-trash-can text-danger"></i></a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No todo items found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'todo-create' %}">Create a new todo item</a>
  </div>
</section>
{% endblock content %}